In [11]:
import pandas as pd

In [8]:
life_data = pd.read_csv("Life Expectancy Data.csv")

In [9]:
life_data.shape

(2938, 22)

In [10]:
life_data.head(2)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0

In [18]:
a,b,c=2,3.4,"ds"

print(c) 
type(b)
type(c)

ds

str

In [21]:
import math
print(math.pi)

3.141592653589793